@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.galss-container {

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

section {
  z-index: 99;
  width: 100%;
  height: 100vh;
  position: relative;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index:9;
}

.element {
  width: 245px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;

}